.external{
    color: aquamarine;
}

#myID{
    font-size: 200px;
    color: rgba(235, 38, 38, 0.892);
}
.div1{
    border: 2px solid red;
    background-color: yellow;
    padding: 8px;
}
.p1{
    color: green;
    font-size: 60px;
    font-family: sans-serif;
    letter-spacing: 20px;
    font-weight: 8px;
    line-height: 4px;
    text-transform: capitalize;
    text-decoration: underline;
    letter-spacing: 4px;
    border: 2px double black;
    line-height: 300px;
    border-radius: 50px;
    border: 2px double black;
    

}
.ex{
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

